scripts/n8n/workflows/ai-sales-agent-v5.json
{
  "name": "AI Sales Agent v5 — Outbox + Coins + Multi-Chunk",
  "nodes": [
    {
      "id": "wh-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "v2/social-inbound",
        "responseMode": "responseNode",
        "responseData": "={{ $json }}",
        "options": {}
      }
    },
    {
      "id": "hmac-1",
      "name": "HMAC Verify",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const data = $input.item.json;\nconst body = data.body || data;\nconst headers = data.headers || {};\n\nconst sig = headers['x-hub-signature-256'] || headers['X-Hub-Signature-256'] || headers['x-signature'] || null;\n\nif (!body.shop_id) throw new Error('shop_id required for HMAC verification');\nif (!sig) throw new Error('Missing signature header (x-hub-signature-256 or x-signature)');\n\nconst bodyStr = JSON.stringify(body);\n\nconst result = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://rvjsnkolroaakskvvwnv.supabase.co/functions/v1/verify-hmac',\n  headers: {\n    'Content-Type': 'application/json',\n    'Authorization': 'Bearer SUPABASE_SERVICE_ROLE_KEY'\n  },\n  body: JSON.stringify({ shop_id: body.shop_id, signature: sig, body: bodyStr }),\n  timeout: 8000,\n  json: true\n});\n\nif (!result.valid) throw new Error('HMAC verification failed: ' + (result.reason || 'unknown'));\n\nreturn { json: { ...body, _signature_check: 'verified' } };"
      }
    },
    {
      "id": "val-1",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300],
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const body = $input.item.json;\nconst errors = [];\n\nif (!body.shop_id || !/^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i.test(body.shop_id)) errors.push('shop_id must be a valid UUID');\nif (!body.sender_id || typeof body.sender_id !== 'string' || body.sender_id.length > 256) errors.push('sender_id required, max 256 chars');\nif (!body.message || typeof body.message !== 'string' || body.message.length < 1 || body.message.length > 4096) errors.push('message required, 1..4096 chars');\n\nconst channel = (body.channel || 'instagram').toLowerCase();\nif (!['instagram', 'whatsapp', 'telegram', 'messenger'].includes(channel)) errors.push('channel must be: instagram, whatsapp, telegram, messenger');\n\nif (errors.length > 0) throw new Error('Validation failed: ' + errors.join('; '));\n\nreturn {\n  json: {\n    shop_id: body.shop_id,\n    sender_id: body.sender_id,\n    message: body.message.trim(),\n    channel: channel,\n    received_at: new Date().toISOString(),\n    execution_id: $execution.id\n  }\n};"
      }
    },
    {
      "id": "deduct-1",
      "name": "Deduct Coin",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300],
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const v = $json;\n\nconst result = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://rvjsnkolroaakskvvwnv.supabase.co/functions/v1/coin-deduct',\n  headers: {\n    'Content-Type': 'application/json',\n    'Authorization': 'Bearer SUPABASE_SERVICE_ROLE_KEY'\n  },\n  body: {\n    shop_id: v.shop_id,\n    sender_id: v.sender_id,\n    channel: v.channel\n  },\n  json: true,\n  timeout: 5000\n});\n\nreturn {\n  json: {\n    ...v,\n    _deduct_result: result,\n    _coins_remaining: result.ok ? result.balance : 0\n  }\n};"
      }
    },
    {
      "id": "if-deduct",
      "name": "Sufficient Coins?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1120, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose" },
          "conditions": [
            {
              "id": "has-coins",
              "leftValue": "={{ $json._deduct_result.ok }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "insuff-1",
      "name": "Insufficient Coins",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 500],
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const v = $json;\nconst fallback = v._deduct_result.fallback_message || 'عذراً، الرصيد غير كافٍ. يرجى شحن الرصيد من لوحة التحكم.';\n\n// Write fallback to outbox\nawait this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://rvjsnkolroaakskvvwnv.supabase.co/rest/v1/outbox',\n  headers: {\n    'Content-Type': 'application/json',\n    'apikey': 'SUPABASE_SERVICE_ROLE_KEY',\n    'Authorization': 'Bearer SUPABASE_SERVICE_ROLE_KEY',\n    'Prefer': 'return=minimal'\n  },\n  body: {\n    shop_id: v.shop_id,\n    channel: v.channel,\n    recipient_id: v.sender_id,\n    payload: { text: fallback },\n    status: 'pending'\n  },\n  json: true,\n  timeout: 5000\n});\n\n// Log insufficient coins\nawait this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://rvjsnkolroaakskvvwnv.supabase.co/rest/v1/workflow_logs',\n  headers: {\n    'Content-Type': 'application/json',\n    'apikey': 'SUPABASE_SERVICE_ROLE_KEY',\n    'Authorization': 'Bearer SUPABASE_SERVICE_ROLE_KEY',\n    'Prefer': 'return=minimal'\n  },\n  body: {\n    execution_id: v.execution_id,\n    shop_id: v.shop_id,\n    sender_id: v.sender_id,\n    stage: 'insufficient_coins',\n    status: 'skipped',\n    payload: { balance: v._deduct_result.balance, reason: v._deduct_result.reason }\n  },\n  json: true,\n  timeout: 5000\n});\n\nreturn { json: { ...v, _skipped: true, _reason: 'insufficient_coins' } };"
      }
    },
    {
      "id": "rsp-insuff",
      "name": "Response Insufficient",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1560, 500],
      "parameters": {
        "respondWith": "json",
        "responseBody": {
          "status": "insufficient_coins",
          "reply": "={{ $json._deduct_result.fallback_message }}",
          "channel": "={{ $json.channel }}",
          "sender_id": "={{ $json.sender_id }}"
        }
      }
    },
    {
      "id": "log-val",
      "name": "Log Validation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300],
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const v = $json;\nawait this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://rvjsnkolroaakskvvwnv.supabase.co/rest/v1/workflow_logs',\n  headers: {\n    'Content-Type': 'application/json',\n    'apikey': 'SUPABASE_SERVICE_ROLE_KEY',\n    'Authorization': 'Bearer SUPABASE_SERVICE_ROLE_KEY',\n    'Prefer': 'return=minimal'\n  },\n  body: {\n    execution_id: v.execution_id,\n    shop_id: v.shop_id,\n    sender_id: v.sender_id,\n    stage: 'validation',\n    status: 'success',\n    payload: { coins_remaining: v._coins_remaining }\n  },\n  json: true,\n  timeout: 5000\n});\nreturn { json: v };"
      }
    },
    {
      "id": "load-bs",
      "name": "Load Bot Settings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 200],
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const v = $json;\nconst r = await this.helpers.httpRequest({\n  method: 'GET',\n  url: 'https://rvjsnkolroaakskvvwnv.supabase.co/rest/v1/bot_settings?shop_id=eq.' + v.shop_id + '&select=prompt_context,target_dialect,is_active,currency,shipping_fee,delivery_cities,response_style,business_hours,fallback_message&limit=1',\n  headers: { 'apikey': 'SUPABASE_SERVICE_ROLE_KEY', 'Authorization': 'Bearer SUPABASE_SERVICE_ROLE_KEY' },\n  json: true,\n  timeout: 5000\n});\nreturn { json: { ...v, bot_settings: r[0] || null } };"
      }
    },
    {
      "id": "load-conv",
      "name": "Load Conversation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 400],
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const v = $json;\nlet history = [];\ntry {\n  const r = await this.helpers.httpRequest({\n    method: 'GET',\n    url: 'https://rvjsnkolroaakskvvwnv.supabase.co/rest/v1/conversations?select=role,message,created_at&shop_id=eq.' + v.shop_id + '&sender_id=eq.' + encodeURIComponent(v.sender_id) + '&order=created_at.desc&limit=10',\n    headers: { 'apikey': 'SUPABASE_SERVICE_ROLE_KEY', 'Authorization': 'Bearer SUPABASE_SERVICE_ROLE_KEY' },\n    json: true,\n    timeout: 5000\n  });\n  history = (r || []).reverse();\n} catch (e) { history = []; }\nreturn { json: { ...v, conversation_history: history } };"
      }
    },
    {
      "id": "merge-ctx",
      "name": "Merge Context",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [1780, 300],
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition"
      }
    },
    {
      "id": "norm-1",
      "name": "Normalize With Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 300],
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const v = $json;\nconst settings = v.bot_settings || {};\nconst cfg = {\n  prompt_context: settings.prompt_context || 'You are a sales assistant. Reply in Algerian Darija.',\n  target_dialect: settings.target_dialect || 'Algerian Darija',\n  is_active: settings.is_active !== false,\n  response_style: settings.response_style || 'casual',\n  currency: settings.currency || 'DZD',\n  shipping_fee: settings.shipping_fee || 700,\n  delivery_cities: settings.delivery_cities || [],\n  business_hours: settings.business_hours || null,\n  fallback_message: settings.fallback_message || null\n};\n\nif (cfg.is_active === false) throw new Error('Bot is currently disabled for this shop');\n\nconst history = Array.isArray(v.conversation_history) ? v.conversation_history : [];\n\n// Split history: old (beyond last 3) vs recent (last 3)\nconst recentHistory = history.slice(-3);\nconst oldHistory = history.slice(0, -3);\nconst oldSummary = oldHistory.length > 0\n  ? `[Conversation summary: ${oldHistory.length} earlier messages not shown]`\n  : '(no prior conversation)';\nconst recentText = recentHistory.length === 0\n  ? '(no recent conversation)'\n  : recentHistory.map(h => (h.role === 'user' ? 'Customer' : 'You') + ': ' + h.message).join('\\n');\n\nconst historyText = oldHistory.length > 0\n  ? oldSummary + '\\n\\n[Recent messages]\\n' + recentText\n  : recentText || '(no prior conversation)';\n\nconst userPrompt = '[Shop context]\\n' + cfg.prompt_context + '\\n\\n'\n  + '[Conversation history]\\n' + historyText + '\\n\\n'\n  + '[Current message]\\n'\n  + 'Channel: ' + v.channel + '\\n'\n  + 'Customer says: \"' + v.message + '\"\\n\\n'\n  + 'Reply in ' + cfg.target_dialect + ' using ' + cfg.response_style + ' style.\\n'\n  + 'Return a JSON object containing:\\n'\n  + '{\\n'\n  + '  \"order_complete\": boolean (true only if customer_name, phone, location_city, and product_requested are ALL present),\\n'\n  + '  \"customer_name\": string or null,\\n'\n  + '  \"phone\": string or null,\\n'\n  + '  \"location_city\": string or null,\\n'\n  + '  \"product_requested\": string or null,\\n'\n  + '  \"quantity\": integer (default 1),\\n'\n  + '  \"reply_text\": \"your friendly reply in ' + cfg.target_dialect + '\"\\n'\n  + '}\\n'\n  + 'If anything is missing, set order_complete=false and ask for it in reply_text. ONLY return valid JSON.';\n\nconst systemMsg = 'You are an AI sales assistant for a business. Your role:\\n'\n  + '- Help customers with orders politely\\n'\n  + '- Extract order information (name, phone, city, product, quantity)\\n'\n  + '- Reply in the customer\\'s preferred dialect\\n'\n  + '- Be friendly and concise\\n'\n  + '- NEVER make up products or prices\\n'\n  + '- ALWAYS return valid JSON';\n\nreturn {\n  json: {\n    shop_id: v.shop_id,\n    sender_id: v.sender_id,\n    message: v.message,\n    channel: v.channel,\n    received_at: v.received_at,\n    execution_id: v.execution_id,\n    _coins_remaining: v._coins_remaining,\n    system_message: systemMsg,\n    user_prompt: userPrompt,\n    target_dialect: cfg.target_dialect,\n    cfg: cfg\n  }\n};"
      }
    },
    {
      "id": "build-groq",
      "name": "Build Groq Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2220, 300],
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const ctx = $json;\nconst groqBody = {\n  model: 'llama-3.3-70b-versatile',\n  messages: [\n    { role: 'system', content: ctx.system_message },\n    { role: 'user', content: ctx.user_prompt }\n  ],\n  temperature: 0.1,\n  max_tokens: 1024,\n  response_format: { type: 'json_object' }\n};\nreturn { json: { ...ctx, groq_body_json: JSON.stringify(groqBody) } };"
      }
    },
    {
      "id": "agent-1",
      "name": "Sales Agent (Groq)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2440, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "bodyParameters": { "parameters": [] },
        "bodyContentType": "json",
        "jsonBody": "={{ JSON.parse($('Build Groq Body').first().json.groq_body_json) }}",
        "options": { "timeout": 15000, "allowUnauthorizedCerts": true }
      }
    },
    {
      "id": "enrich-1",
      "name": "Enrich Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2660, 300],
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const groqOut = $input.item.json;\nconst ctx = $('Normalize With Context').first().json;\n\nlet parsed;\ntry {\n  const content = groqOut.choices?.[0]?.message?.content || '{}';\n  parsed = typeof content === 'string' ? JSON.parse(content) : content;\n} catch (e) { parsed = {}; }\n\nconst clean = (v) => (v === null || v === undefined || v === 'null' || v === '') ? null : v;\nconst toInt = (v) => { const n = parseInt(v, 10); return isNaN(n) ? 1 : n; };\n\nreturn {\n  json: {\n    order_complete:    parsed.order_complete === true,\n    customer_name:     clean(parsed.customer_name),\n    phone:             clean(parsed.phone),\n    location_city:     clean(parsed.location_city),\n    product_requested: clean(parsed.product_requested),\n    quantity:          toInt(parsed.quantity),\n    reply_text:        parsed.reply_text || 'شكرا، راني نخدم على طلبك...',\n    channel:           ctx.channel,\n    sender_id:         ctx.sender_id,\n    shop_id:           ctx.shop_id,\n    execution_id:      ctx.execution_id,\n    user_message:      ctx.message,\n    _coins_remaining:  ctx._coins_remaining,\n    target_dialect:    ctx.target_dialect,\n    cfg:               ctx.cfg\n  }\n};"
      }
    },
    {
      "id": "fmt-out",
      "name": "Format Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2880, 300],
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const v = $json;\nconst channel = v.channel;\nlet text = v.reply_text || '';\n\n// Platform-specific formatting\nif (['instagram', 'messenger'].includes(channel)) {\n  // Facebook Messenger supports limited markdown:\n  // *bold* _italic_ ~strikethrough~ `code`\n  // Convert markdown bold/italic to FB format\n  text = text\n    .replace(/\\*\\*(.+?)\\*\\*/g, '*$1*')\n    .replace(/__(.+?)__/g, '_$1_');\n} else if (channel === 'whatsapp') {\n  // WhatsApp supports: *bold* _italic_ ~strikethrough~ ```code```\n  text = text\n    .replace(/\\*\\*(.+?)\\*\\*/g, '*$1*')\n    .replace(/__(.+?)__/g, '_$1_')\n    .replace(/`{3}([\\s\\S]+?)`{3}/g, '```$1```');\n} else if (channel === 'telegram') {\n  // Telegram supports full markdown\n  // Keep as-is\n}\n\n// Remove any leftover markdown that's not supported\n// But keep the text clean\n\n// Split into chunks of max 2000 characters (FB Messenger limit)\nconst MAX_CHUNK = 2000;\nconst chunks = [];\nlet remaining = text;\n\nwhile (remaining.length > 0) {\n  if (remaining.length <= MAX_CHUNK) {\n    chunks.push(remaining);\n    break;\n  }\n\n  // Try to split at a sentence boundary or newline\n  let splitAt = remaining.lastIndexOf('. ', MAX_CHUNK);\n  if (splitAt < MAX_CHUNK * 0.5) splitAt = remaining.lastIndexOf('\\n', MAX_CHUNK);\n  if (splitAt < MAX_CHUNK * 0.5) splitAt = remaining.lastIndexOf(' ', MAX_CHUNK);\n  if (splitAt < MAX_CHUNK * 0.3) splitAt = MAX_CHUNK;\n\n  chunks.push(remaining.substring(0, splitAt + 1).trim());\n  remaining = remaining.substring(splitAt + 1).trim();\n}\n\nreturn {\n  json: {\n    ...v,\n    _formatted_chunks: chunks,\n    _chunk_count: chunks.length\n  }\n};"
      }
    },
    {
      "id": "save-usr",
      "name": "Save User Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3100, 200],
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const v = $json;\nawait this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://rvjsnkolroaakskvvwnv.supabase.co/rest/v1/conversations',\n  headers: {\n    'Content-Type': 'application/json',\n    'apikey': 'SUPABASE_SERVICE_ROLE_KEY',\n    'Authorization': 'Bearer SUPABASE_SERVICE_ROLE_KEY',\n    'Prefer': 'return=minimal'\n  },\n  body: {\n    shop_id: v.shop_id,\n    sender_id: v.sender_id,\n    role: 'user',\n    message: v.user_message || ''\n  },\n  json: true,\n  timeout: 5000\n});\nreturn { json: v };"
      }
    },
    {
      "id": "save-asst",
      "name": "Save Assistant Turn",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3100, 300],
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const v = $json;\nconst chunks = v._formatted_chunks || [v.reply_text || ''];\n\n// Save each chunk as a separate conversation entry\nfor (let i = 0; i < chunks.length; i++) {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://rvjsnkolroaakskvvwnv.supabase.co/rest/v1/conversations',\n    headers: {\n      'Content-Type': 'application/json',\n      'apikey': 'SUPABASE_SERVICE_ROLE_KEY',\n      'Authorization': 'Bearer SUPABASE_SERVICE_ROLE_KEY',\n      'Prefer': 'return=minimal'\n    },\n    body: {\n      shop_id: v.shop_id,\n      sender_id: v.sender_id,\n      role: 'assistant',\n      message: chunks[i],\n      chunk_index: i + 1,\n      total_chunks: chunks.length,\n      processing_status: 'completed'\n    },\n    json: true,\n    timeout: 5000\n  });\n}\n\nreturn { json: v };"
      }
    },
    {
      "id": "send-seen",
      "name": "Send Seen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3100, 400],
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const v = $json;\n\n// Write seen indicator to outbox (will be processed by outbox-processor)\nawait this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://rvjsnkolroaakskvvwnv.supabase.co/rest/v1/outbox',\n  headers: {\n    'Content-Type': 'application/json',\n    'apikey': 'SUPABASE_SERVICE_ROLE_KEY',\n    'Authorization': 'Bearer SUPABASE_SERVICE_ROLE_KEY',\n    'Prefer': 'return=minimal'\n  },\n  body: {\n    shop_id: v.shop_id,\n    channel: v.channel,\n    recipient_id: v.sender_id,\n    payload: { action: 'mark_seen' },\n    status: 'pending'\n  },\n  json: true,\n  timeout: 5000\n});\n\nreturn { json: v };"
      }
    },
    {
      "id": "send-type",
      "name": "Send Typing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3100, 500],
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const v = $json;\n\n// Write typing indicator to outbox\nawait this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://rvjsnkolroaakskvvwnv.supabase.co/rest/v1/outbox',\n  headers: {\n    'Content-Type': 'application/json',\n    'apikey': 'SUPABASE_SERVICE_ROLE_KEY',\n    'Authorization': 'Bearer SUPABASE_SERVICE_ROLE_KEY',\n    'Prefer': 'return=minimal'\n  },\n  body: {\n    shop_id: v.shop_id,\n    channel: v.channel,\n    recipient_id: v.sender_id,\n    payload: { action: 'typing_on' },\n    status: 'pending'\n  },\n  json: true,\n  timeout: 5000\n});\n\nreturn { json: v };"
      }
    },
    {
      "id": "pre-merge",
      "name": "Pre-Outbox Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [3210, 350],
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex"
      }
    },
    {
      "id": "write-outbox",
      "name": "Write to Outbox",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3320, 300],
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const v = $json;\nconst chunks = v._formatted_chunks || [v.reply_text || ''];\n\n// Write each chunk as a separate outbox entry\nfor (let i = 0; i < chunks.length; i++) {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://rvjsnkolroaakskvvwnv.supabase.co/rest/v1/outbox',\n    headers: {\n      'Content-Type': 'application/json',\n      'apikey': 'SUPABASE_SERVICE_ROLE_KEY',\n      'Authorization': 'Bearer SUPABASE_SERVICE_ROLE_KEY',\n      'Prefer': 'return=minimal'\n    },\n    body: {\n      shop_id: v.shop_id,\n      channel: v.channel,\n      recipient_id: v.sender_id,\n      payload: { text: chunks[i] },\n      status: 'pending'\n    },\n    json: true,\n    timeout: 5000\n  });\n}\n\nreturn { json: { ...v, _outbox_written: true, _total_chunks: chunks.length } };"
      }
    },
    {
      "id": "rsp-ok",
      "name": "Response OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [3540, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": {
          "status": "ok",
          "reply": "={{ $json.reply_text }}",
          "channel": "={{ $json.channel }}",
          "sender_id": "={{ $json.sender_id }}",
          "coins_remaining": "={{ $json._coins_remaining }}",
          "chunks": "={{ $json._chunk_count }}"
        }
      }
    },
    {
      "id": "if-1",
      "name": "Order Complete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [3760, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose" },
          "conditions": [
            {
              "id": "is-complete",
              "leftValue": "={{ $json.order_complete }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "ins-ord",
      "name": "Insert Order",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3980, 200],
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const v = $json;\nconst qty = parseInt(v.quantity, 10) || 1;\nconst resp = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://rvjsnkolroaakskvvwnv.supabase.co/rest/v1/orders',\n  headers: {\n    'Content-Type': 'application/json',\n    'apikey': 'SUPABASE_SERVICE_ROLE_KEY',\n    'Authorization': 'Bearer SUPABASE_SERVICE_ROLE_KEY',\n    'Prefer': 'return=representation'\n  },\n  body: {\n    shop_id: v.shop_id,\n    sender_id: v.sender_id,\n    customer_name: v.customer_name || 'Unknown',\n    phone: v.phone || '',\n    location_city: v.location_city || '',\n    product_requested: v.product_requested || '',\n    quantity: qty,\n    order_status: 'pending'\n  },\n  json: true,\n  timeout: 10000\n});\nreturn { json: { ...v, order_id: (resp[0] && resp[0].id) || null, quantity: qty, order_status: 'pending' } };"
      }
    },
    {
      "id": "log-ord",
      "name": "Log Order Captured",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4200, 200],
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const v = $json;\nawait this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://rvjsnkolroaakskvvwnv.supabase.co/rest/v1/workflow_logs',\n  headers: {\n    'Content-Type': 'application/json',\n    'apikey': 'SUPABASE_SERVICE_ROLE_KEY',\n    'Authorization': 'Bearer SUPABASE_SERVICE_ROLE_KEY',\n    'Prefer': 'return=minimal'\n  },\n  body: {\n    execution_id: v.execution_id,\n    shop_id: v.shop_id,\n    sender_id: v.sender_id,\n    stage: 'order_captured',\n    status: 'success',\n    payload: { order_id: v.order_id || null, customer: v.customer_name, product: v.product_requested, qty: v.quantity }\n  },\n  json: true,\n  timeout: 5000\n});\nreturn { json: v };"
      }
    },
    {
      "id": "log-ni",
      "name": "Log Needs Info",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3980, 400],
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const v = $json;\nawait this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://rvjsnkolroaakskvvwnv.supabase.co/rest/v1/workflow_logs',\n  headers: {\n    'Content-Type': 'application/json',\n    'apikey': 'SUPABASE_SERVICE_ROLE_KEY',\n    'Authorization': 'Bearer SUPABASE_SERVICE_ROLE_KEY',\n    'Prefer': 'return=minimal'\n  },\n  body: {\n    execution_id: v.execution_id,\n    shop_id: v.shop_id,\n    sender_id: v.sender_id,\n    stage: 'needs_more_info',\n    status: 'info',\n    payload: { reply: v.reply_text || '' }\n  },\n  json: true,\n  timeout: 5000\n});\nreturn { json: v };"
      }
    }
  ],
  "connections": {
    "Webhook": { "main": [[ { "node": "HMAC Verify", "type": "main", "index": 0 } ]] },
    "HMAC Verify": { "main": [[ { "node": "Validate Input", "type": "main", "index": 0 } ]] },
    "Validate Input": { "main": [[ { "node": "Deduct Coin", "type": "main", "index": 0 } ]] },
    "Deduct Coin": { "main": [[ { "node": "Sufficient Coins?", "type": "main", "index": 0 } ]] },
    "Sufficient Coins?": {
      "main": [
        [ { "node": "Log Validation", "type": "main", "index": 0 } ],
        [ { "node": "Insufficient Coins", "type": "main", "index": 0 } ]
      ]
    },
    "Insufficient Coins": { "main": [[ { "node": "Response Insufficient", "type": "main", "index": 0 } ]] },
    "Log Validation": { "main": [[ { "node": "Load Bot Settings", "type": "main", "index": 0 }, { "node": "Load Conversation", "type": "main", "index": 0 } ]] },
    "Load Bot Settings": { "main": [[ { "node": "Merge Context", "type": "main", "index": 0 } ]] },
    "Load Conversation": { "main": [[ { "node": "Merge Context", "type": "main", "index": 1 } ]] },
    "Merge Context": { "main": [[ { "node": "Normalize With Context", "type": "main", "index": 0 } ]] },
    "Normalize With Context": { "main": [[ { "node": "Build Groq Body", "type": "main", "index": 0 } ]] },
    "Build Groq Body": { "main": [[ { "node": "Sales Agent (Groq)", "type": "main", "index": 0 } ]] },
    "Sales Agent (Groq)": { "main": [[ { "node": "Enrich Output", "type": "main", "index": 0 } ]] },
    "Enrich Output": { "main": [[ { "node": "Format Output", "type": "main", "index": 0 } ]] },
    "Format Output": {
      "main": [[ { "node": "Save User Message", "type": "main", "index": 0 }, { "node": "Save Assistant Turn", "type": "main", "index": 0 }, { "node": "Send Seen", "type": "main", "index": 0 }, { "node": "Send Typing", "type": "main", "index": 0 } ]]
    },
    "Save User Message":   { "main": [[ { "node": "Pre-Outbox Merge", "type": "main", "index": 0 } ]] },
    "Save Assistant Turn": { "main": [[ { "node": "Pre-Outbox Merge", "type": "main", "index": 1 } ]] },
    "Send Seen":           { "main": [[ { "node": "Pre-Outbox Merge", "type": "main", "index": 2 } ]] },
    "Send Typing":         { "main": [[ { "node": "Pre-Outbox Merge", "type": "main", "index": 3 } ]] },
    "Pre-Outbox Merge":    { "main": [[ { "node": "Write to Outbox",  "type": "main", "index": 0 } ]] },
    "Write to Outbox":     { "main": [[ { "node": "Response OK",       "type": "main", "index": 0 } ]] },
    "Response OK": { "main": [[ { "node": "Order Complete?", "type": "main", "index": 0 } ]] },
    "Order Complete?": {
      "main": [
        [ { "node": "Insert Order", "type": "main", "index": 0 } ],
        [ { "node": "Log Needs Info", "type": "main", "index": 0 } ]
      ]
    },
    "Insert Order": { "main": [[ { "node": "Log Order Captured", "type": "main", "index": 0 } ]] }
  },
  "settings": { "executionOrder": "v1" }
}
