scripts/n8n/workflows/error-handler.json
{
  "name": "Error Handler v1 — Always Respond",
  "nodes": [
    {
      "id": "err-trig",
      "name": "Workflow Error",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {}
    },
    {
      "id": "err-extract",
      "name": "Extract Error Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const err = $json;\nconst execution = err.execution || {};\nconst workflow  = err.workflow  || { name: 'unknown' };\n\nconst payload = {\n  execution_id:   execution.id || 'unknown',\n  workflow_name:  workflow.name || 'unknown',\n  error_message:  (execution.error && execution.error.message) || err.message || 'Unknown error',\n  error_node:     execution.lastNodeExecuted || 'unknown',\n  shop_id:        null,\n  sender_id:      null,\n  channel:        null,\n  message:        null,\n  failed_at:      new Date().toISOString()\n};\n\ntry {\n  const runData = execution.data || {};\n  const resultData = runData.resultData || {};\n  const runData2 = resultData.runData || {};\n  for (const nodeName of Object.keys(runData2)) {\n    const nodeRuns = runData2[nodeName] || [];\n    for (const run of nodeRuns) {\n      const data = run.data || {};\n      const main = data.main || [];\n      for (const items of main) {\n        for (const item of items) {\n          if (item.json) {\n            if (item.json.shop_id)   payload.shop_id   = item.json.shop_id;\n            if (item.json.sender_id) payload.sender_id = item.json.sender_id;\n            if (item.json.channel)   payload.channel   = item.json.channel;\n            if (item.json.message)   payload.message   = item.json.message;\n          }\n        }\n      }\n    }\n  }\n} catch (e) { /* ignore */ }\n\nreturn { json: payload };"
      }
    },
    {
      "id": "err-log-dlq",
      "name": "Log Error & Send to DLQ",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const v = $json;\nconst SUPA_KEY = 'SUPABASE_SERVICE_KEY';\n\n// 1. Log error to workflow_logs\nawait this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://rvjsnkolroaakskvvwnv.supabase.co/rest/v1/workflow_logs',\n  headers: {\n    'Content-Type': 'application/json',\n    'apikey': SUPA_KEY,\n    'Authorization': 'Bearer ' + SUPA_KEY,\n    'Prefer': 'return=minimal'\n  },\n  body: {\n    execution_id:  v.execution_id,\n    shop_id:       v.shop_id,\n    sender_id:     v.sender_id,\n    stage:         'error',\n    status:        'error',\n    error_message: v.error_message,\n    payload: {\n      workflow_name: v.workflow_name,\n      error_node:    v.error_node\n    }\n  },\n  json: true,\n  timeout: 5000\n});\n\n// 2. Send to DLQ\nawait this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://rvjsnkolroaakskvvwnv.supabase.co/rest/v1/failed_messages',\n  headers: {\n    'Content-Type': 'application/json',\n    'apikey': SUPA_KEY,\n    'Authorization': 'Bearer ' + SUPA_KEY,\n    'Prefer': 'return=minimal'\n  },\n  body: {\n    shop_id:       v.shop_id,\n    sender_id:     v.sender_id,\n    channel:       v.channel,\n    payload: {\n      message:       v.message,\n      workflow_name: v.workflow_name,\n      execution_id:  v.execution_id\n    },\n    error_message: v.error_message,\n    error_stage:   v.error_node,\n    retry_count:   0,\n    status:        'pending'\n  },\n  json: true,\n  timeout: 5000\n});\n\nreturn { json: v };"
      }
    }
  ],
  "connections": {
    "Workflow Error": {
      "main": [
        [
          {
            "node": "Extract Error Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Error Context": {
      "main": [
        [
          {
            "node": "Log Error & Send to DLQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
